<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>新生大学</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
  <script src="./public/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="main-header">
      <div class="container">
        <h1>JavaScript编程入门</h1>
      </div>
    </div>

    <div class="container">
      <form>
        <div class="form-group">
          <label for="name">个人姓名</label>
          <input v-model="nameString" type="name" class="form-control" id="name" placeholder="请输入你的姓名">
        </div>
        <div class="form-group">
          <label for="account">新大账号</label>
          <input v-model="accountString" type="account" class="form-control" id="account" placeholder="请输入你的新大账号（注册手机号码或邮箱）">
        </div>
        <div class="form-group">
          <label for="content">想说的话</label>
          <input v-model="contentString" type="content" class="form-control" id="content" placeholder="请输入你想对徐老师说的话">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> 记住填写的内容 </label>
        </div>
        <div class="btn btn-primary" v-on:click="sendData">提交发送</div>
      </form>
    </div>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">我的心里话</h3>
        </div>
        <div class="panel-body">
          <div class="words-pannel" v-for="item in wordsList">
            <div class="media">
              <div class="media-left">
                <a href="#">
                    <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                  </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{ item.name }}
                </h4>
                {{ item.words }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script>
  // vue官网： https://cn.vuejs.org/v2/guide/
  // 初始化Vue

  // 把收集的数据放在这里

  var app = new Vue({
    el: '#app',   // #app 和html中div#id的 app 对应
    data: {
      wordsList: [],  // 变量wordsList可以在html使用
      nameString: '',    // 变量nameString默认空白，同步显示用户填入的“用户姓名”
      accountString: '', // 变量accountString默认空白，同步显示用户填入的”新大账号“
      contentString: ''  // 变量contentString默认空白，同步显示用户填入的“想说的话”
    },
    methods: {
      fetchDate: function () {
        axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/words')
          .then(function (response) {
            if (response.data.code === 1) {
              app.wordsList = response.data.words;
            }
            else {
              alert("读取数据失败。");
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      sendData: function () {  // 定义一个函数，axios post 出去三个参数，拿到response 后alert 结果，这里在 html 中绑定了一个 click 事件，一旦用户click按钮，就会触发这个函数执行
        axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe', {
          name: app.nameString, // 拿到表单的name字段
          account: app.accountString, // 拿到表单的account字段
          content: app.contentString  // 拿到表单的content字段
        })
          .then(function (response) {
            if (response.data.code === 1) {
              alert("提交成功。");
            }
            else {
              alert("提交失败，请重试。");
            }
          })
          .catch(function (error) {
            console.log(error); // 函数执行过程中，如果出错，就会直接跳到这里，浏览器conosle打印错误日志
          });
      }
    }
  });
  app.fetchDate();

</script>